.app {
  width: 80%;
  margin: 0 auto;
  /* text-align: center; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-header{
  width: 80%;
  margin: 0 auto;
}

.left-header {
  font-size: 30px;
}

.right-header{
  display: flex;
  gap: 10px;
}

.list-video {
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  overflow-y: auto;
  height: calc(100vh - 150px)
}

.row-video {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.video {
  /* width: 30%; */
}

.information-video {
  min-height: 250px;
  max-height: 300px;
  overflow-y: hidden;
}

.title-video {
  color: red;
}

.description-content{
  font-weight: 600;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.btn {
  border: 1px solid #0183ff;
  color: #ffffff;
  background-color: #0183ff;
  cursor: pointer;
}

.input-cpn {
  border: 1px solid gray;
}

.wrapper-share {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  html {
    min-width: 60%;
    /* max-width: 90%; */
  }
}


